#include <windows.h>
#include "../shared/version.hpp"
1 RT_MANIFEST "taxi-cam.manifest"
101 ICON "taxi-cam.ico"
1 VERSIONINFO
FILEVERSION TAXI_CAM_VERSION_MAJOR,TAXI_CAM_VERSION_MINOR,TAXI_CAM_VERSION_PATCH,0
PRODUCTVERSION TAXI_CAM_VERSION_MAJOR,TAXI_CAM_VERSION_MINOR,TAXI_CAM_VERSION_PATCH,0
FILETYPE VFT_APP
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904b0"
  BEGIN
   VALUE "FileDescription", "Taxi Cam Windows companion\0"
   VALUE "FileVersion", TAXI_CAM_VERSION "\0"
   VALUE "ProductName", "Taxi Cam\0"
   VALUE "ProductVersion", TAXI_CAM_VERSION "\0"
   VALUE "OriginalFilename", "taxi-cam.exe\0"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
END
